/* Confirm age view styles */

.testimonial-20,
.testimonial-20 * {
    box-sizing: border-box;
}
.testimonial-20 {
    padding: 0px 640px 0px 640px;
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex: 1;
    position: relative;
}
.logogfu-4 {
    flex-shrink: 0;
    width: 69.35px;
    height: 112px;
    position: relative;
    object-fit: cover;
}
.frame-173 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.this-is-an-adult-website {
    color: #ffffff;
    text-align: left;
    font-family: var(--h2-font-family, "IbmPlexSans-Bold", sans-serif);
    font-size: var(--h2-font-size, 48px);
    line-height: var(--h2-line-height, 120%);
    font-weight: var(--h2-font-weight, 700);
    position: relative;
}
.this-website-contains-age-restricted-materials-including-nudity-and-explicit-depictions-of-sexual-activity-by-entering-you-affirm-that-you-are-at-least-18-years-of-age-or-the-age-of-majority-in-the-jurisdiction-you-are-accessing-the-website-from-and-you-consent-to-viewing-sexually-explicit-content {
    color: #ffffff;
    text-align: center;
    font-family: var(--b2-font-family, "IbmPlexSans-Regular", sans-serif);
    font-size: var(--b2-font-size, 18px);
    line-height: var(--b2-line-height, 150%);
    font-weight: var(--b2-font-weight, 400);
    position: relative;
    align-self: stretch;
}
.frame-174 {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}
.content-button {
    background: var(--light-gray-v1, #362e35);
    border-radius: 10px;
    padding: 12px 28px 12px 24px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.buton {
    color: var(--white, #ffffff);
    text-align: left;
    font-family: "IbmPlexSans-SemiBold", sans-serif;
    font-size: 16px;
    line-height: 150%;
    font-weight: 600;
    position: relative;
}

.group-11712735402 {
    flex-shrink: 0;
    width: 11.41px;
    height: 11.41px;
    position: relative;
    overflow: visible;
}
.our-parental-controls-page-explains-how-you-can-easily-block-access-to-this-site {
    text-align: center;
    font-family: var(--b2-font-family, "IbmPlexSans-Regular", sans-serif);
    font-size: var(--b2-font-size, 18px);
    line-height: var(--b2-line-height, 150%);
    font-weight: var(--b2-font-weight, 400);
    position: relative;
    align-self: stretch;
}
.our-parental-controls-page-explains-how-you-can-easily-block-access-to-this-site-span {
    color: #ffffff;
    font-family: var(--b2-font-family, "IbmPlexSans-Regular", sans-serif);
    font-size: var(--b2-font-size, 18px);
    line-height: var(--b2-line-height, 150%);
    font-weight: var(--b2-font-weight, 400);
}
.our-parental-controls-page-explains-how-you-can-easily-block-access-to-this-site-span2 {
    color: var(--red, #cb2524);
    font-family: var(--b2-font-family, "IbmPlexSans-Regular", sans-serif);
    font-size: var(--b2-font-size, 18px);
    line-height: var(--b2-line-height, 150%);
    font-weight: var(--b2-font-weight, 400);
}
.our-parental-controls-page-explains-how-you-can-easily-block-access-to-this-site-span3 {
    color: #ffffff;
    font-family: var(--b2-font-family, "IbmPlexSans-Regular", sans-serif);
    font-size: var(--b2-font-size, 18px);
    line-height: var(--b2-line-height, 150%);
    font-weight: var(--b2-font-weight, 400);
}
.container{
    background-color: var(--black);
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

#red-dot-small, #red-dot-big{
    position: fixed;
}
#red-dot-big {
    right: 0;
}

/* Header */

.menu-blcok,
.menu-blcok * {
    box-sizing: border-box;
}

.menu-blcok {
    background: var(--black, #131217);
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    position: relative;
    height: 100px;
    align-items: flex-start;
    overflow-x: hidden;
}
.header-section {
    padding: 0px 80px 0px 80px;
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
    justify-content: center;
    flex: 1;
    position: relative;
}
.frame-195 {
    flex-shrink: 0;
    width: 180px;
    height: 56px;
    position: relative;
    overflow: visible;
    cursor:pointer;
}
.menu-box {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex: 1;
    position: relative;
}
.main-menu-buttons {
    border-radius: 10px;
    padding: 12px 24px 12px 24px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    cursor: pointer;
}
.main-menu-buttons:hover {
    border-radius: 10px;
    background: var(--Red, #CB2524);
}
.frame-177 {
    padding: 0px 1px 0px 1px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    position: relative;
    overflow: visible;
}
.home {
    color: var(--white, #ffffff);
    text-align: left;
    font-family: "IbmPlexSans-SemiBold", sans-serif;
    font-size: 20px;
    line-height: 150%;
    font-weight: 600;
    position: relative;
}
.frame-1772 {
    padding: 0px 1px 0px 1px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    position: relative;
    overflow: visible;
}
.cities {
    color: var(--white, #ffffff);
    text-align: left;
    font-family: "IbmPlexSans-SemiBold", sans-serif;
    font-size: 20px;
    line-height: 150%;
    font-weight: 600;
    position: relative;
}
.frame-1773 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    position: relative;
    overflow: visible;
}
.models {
    color: var(--white, #ffffff);
    text-align: left;
    font-family: "IbmPlexSans-SemiBold", sans-serif;
    font-size: 20px;
    line-height: 150%;
    font-weight: 600;
    position: relative;
}
.frame-1774 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    position: relative;
    overflow: visible;
}
.liked {
    color: var(--white, #ffffff);
    text-align: left;
    font-family: "IbmPlexSans-SemiBold", sans-serif;
    font-size: 20px;
    line-height: 150%;
    font-weight: 600;
    position: relative;
}
.frame-1775 {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    position: relative;
    overflow: hidden;
}
.group-1171273748 {
    width: 95.58%;
    height: 100%;
    position: absolute;
    right: 1.29%;
    left: 3.12%;
    bottom: 0%;
    top: 0%;
    overflow: visible;
}
.special {
    color: var(--white, #ffffff);
    text-align: left;
    font-family: "IbmPlexSans-SemiBold", sans-serif;
    font-size: 20px;
    line-height: 150%;
    font-weight: 600;
    position: relative;
}
.frame-1776 {
    padding: 0px 2px 0px 2px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    position: relative;
    overflow: visible;
}
.newest {
    color: var(--white, #ffffff);
    text-align: left;
    font-family: "IbmPlexSans-SemiBold", sans-serif;
    font-size: 20px;
    line-height: 150%;
    font-weight: 600;
    position: relative;
}
.frame-1777 {
    padding: 0px 2px 0px 2px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    position: relative;
    overflow: visible;
}
.hottest {
    color: var(--white, #ffffff);
    text-align: left;
    font-family: "IbmPlexSans-SemiBold", sans-serif;
    font-size: 20px;
    line-height: 150%;
    font-weight: 600;
    position: relative;
}
.menu-box2 {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: flex-end;
    align-self: stretch;
    flex-shrink: 0;
    width: 190.46px;
    position: relative;
}
.main-menu-buttons2 {
    border-radius: 10px;
    padding: 10px 19px 10px 19px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    cursor: pointer;
}

.ico-country-c-united-kingdom {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: hidden;
}
.vector {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0%;
    left: 0%;
    bottom: 0%;
    top: 0%;
    overflow: visible;
}
.group {
    width: 96.56%;
    height: 96.56%;
    position: absolute;
    right: 1.72%;
    left: 1.72%;
    bottom: 1.72%;
    top: 1.72%;
    overflow: visible;
}
.group2 {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0%;
    left: 0%;
    bottom: 0%;
    top: 0%;
    overflow: visible;
}
.eng {
    color: var(--red, #cb2524);
    text-align: left;
    font-family: "IbmPlexSans-SemiBold", sans-serif;
    font-size: 14px;
    line-height: 150%;
    font-weight: 600;
    position: relative;
}
.group-1171273540 {
    flex-shrink: 0;
    width: 11.41px;
    height: 11.41px;
    position: relative;
    transform: translate(-11.41px, 0px);
    overflow: visible;
    margin-left: 10px;
}
.main-menu-buttons3 {
    border-radius: 10px;
    padding: 10px 19px 10px 19px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 55px;
    height: 41px;
    position: relative;
    overflow: visible;
    cursor: pointer;
}
.main-menu-buttons:hover, .main-menu-buttons2:hover, .main-menu-buttons3:hover {
    border-radius: 10px;
    background: var(--red, #CB2524);
}
.main-menu-buttons2:hover .eng {
    color: white;
}

.main-menu-buttons2:hover .group-1171273540 {
    filter: brightness(0) invert(1);
}

.main-menu-buttons3:hover {
    content: url('/images/icons/icon-profile-white.svg');
}

.header__mobile-btn {
    width: 26px;
    height: 26px;
    padding: 0;
    display: block;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    margin-left: 20px;
    position: relative;
}

.header__mobile-btn__line {
    background: white;
    height: 2px;
    width: 26px;
    margin: 0;
    transition: all 0.5s ease;
}

.header__mobile-btn::after, .header__mobile-btn::before {
    content: "";
    position: absolute;
    background: white;
    height: 2px;
    left: 0;
    transition: .4s all;
    width: 100%;
}
.header__mobile-btn::before {
    top: 6px;
    transform: rotate(0deg) translate(0px, 0px);
    transition: all 0.5s ease;
}
.header__mobile-btn::after {
    bottom: 6px;
    transform: rotate(0deg) translate(0px, 0px);
    transition: all 0.5s ease;
}
/* Footer */

.footer-block,
.footer-block * {
    box-sizing: border-box;
}
.footer-block {
    background: var(--deep-black, #100f14);
    padding: 80px 0px 80px 0px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.footer-section {
    padding: 0px 304px 0px 304px;
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.section-title {
    display: flex;
    flex-direction: row;
    gap: 72px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.column {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    height: 38px;
    min-width: 316px;
    position: relative;
}
.link {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.link-one {
    color: var(--white, #ffffff);
    text-align: left;
    font-family: "WorkSans-Medium", sans-serif;
    font-size: 16px;
    line-height: 150%;
    font-weight: 500;
    position: relative;
}
.logos {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.solid {
    flex-shrink: 0;
    width: 38px;
    height: 38px;
    position: relative;
    overflow: visible;
}
.solid2 {
    flex-shrink: 0;
    width: 38px;
    height: 38px;
    position: relative;
    overflow: visible;
}
.solid3 {
    flex-shrink: 0;
    width: 38px;
    height: 38px;
    position: relative;
    overflow: visible;
}
.text-info {
    display: flex;
    flex-direction: row;
    gap: 72px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.footer-bottom-info {
    color: var(--light-gray-v1, #362e35);
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: -0.011000000000000001em;
    font-weight: 500;
    position: relative;
    width: 807px;
}

.link:hover .link-one {
    color: var(--red);
    cursor: pointer;
}

.logos img:hover{
    border-radius: 10px;
    background: var(--red, #CB2524);
}

/*All cities*/
.all-cities-container{
    background-color: var(--black);
}

.all-cities-section,
.all-cities-section * {
    box-sizing: border-box;
}
.all-cities-section {
    padding: 80px 304px;
    display: flex;
    flex-direction: column;
    gap: 56px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.all-cities-section-title {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    width: 100%;
    min-width: 700px;
    text-align-last: center;

}
.all-cities-heading {
    color: var(--white, #ffffff);
    text-align: left;
    font-family: var(--h2-font-family, "IbmPlexSans-Bold", sans-serif);
    font-size: var(--h2-font-size, 48px);
    line-height: var(--h2-line-height, 120%);
    font-weight: var(--h2-font-weight, 700);
    position: relative;
    align-self: stretch;
}
.all-cities-list {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    min-width: 700px;
    max-width: calc((387px + 12px) * 4 - 12px); /* Adjust the width as needed */
    margin: 0 auto;
}
.all-cities-link {
    padding: 0px 4px 0px 0px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    min-width: 304px;
    position: relative;
}
.all-cities-link-one {
    color: var(--white, #ffffff);
    text-align: left;
    font-family: "WorkSans-Medium", sans-serif;
    font-size: 16px;
    line-height: 150%;
    font-weight: 500;
    position: relative;
}
.all-cities-arrow {
    flex-shrink: 0;
    width: 12px;
    height: 12px;
    position: relative;
    overflow: visible;
}
.main-menu-buttons div, .main-menu-buttons2 div {
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    font-size: 1vw;
}

.header__mobile-btn {
    display: none;
}

/* One city models */
.common-main-section,
.common-main-section * {
    box-sizing: border-box;
}
.common-main-section {
    padding: 80px 304px;
    display: flex;
    flex-direction: column;
    gap: 56px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    background-color: var(--black);
}
.common-main-section-title {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}
.common-main-heading {
    color: var(--white, #ffffff);
    text-align: left;
    font-family: var(--h2-font-family, "IbmPlexSans-Bold", sans-serif);
    font-size: var(--h2-font-size, 48px);
    line-height: var(--h2-line-height, 120%);
    font-weight: var(--h2-font-weight, 700);
    position: relative;
    align-self: stretch;
}
.one_city-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}
.one_city-girl-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 235px;
    min-width: 235px;
    position: relative;
    overflow: hidden;
}
.one_city-photo-box {
    background: linear-gradient(to left, #131217, #131217);
    border-radius: 10px;
    padding: 8px;
    align-self: stretch;
    flex-shrink: 0;
    height: 306px;
    position: relative;
    overflow: hidden;
}
.one_city-like {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 246px;
    top: 278px;
    overflow: visible;
}
.one_city-group-absolute {
    position: absolute;
    inset: 0;
}
.one_city-union {
    width: 48px;
    height: 48px;
    position: absolute;
    left: 63px;
    top: 306px;
    transform: translate(-48px, -48px);
    overflow: visible;
}
.one_city-union2 {
    width: 48px;
    height: 62px;
    position: absolute;
    left: 48px;
    top: 305px;
    transform: translate(-48px, -62px);
    overflow: visible;
}
.one_city-verified {
    color: var(--black, #131217);
    text-align: left;
    font-family: "IbmPlexSans-SemiBold", sans-serif;
    font-size: 10px;
    line-height: 150%;
    font-weight: 600;
    text-transform: uppercase;
    position: absolute;
    left: 14.61px;
    top: 261px;
    transform-origin: 0 0;
    transform: rotate(45deg) scale(1, 1);
}
.one_city-ico-country {
    width: 20px;
    height: 20px;
    position: absolute;
    left: -29.5px;
    top: 10.5px;
    overflow: hidden;
}
.one_city-vector {
    position: absolute;
    left: 0px;
    bottom: 0px;
    overflow: visible;
}
.one_city-group {
    width: 96.56%;
    height: 96.56%;
    position: absolute;
    right: 1.72%;
    left: 1.72%;
    bottom: 1.72%;
    top: 1.72%;
    overflow: visible;
}
.one_city-group2 {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0%;
    left: 0%;
    bottom: 0%;
    top: 0%;
    overflow: visible;
}
.one_city-tags {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-end;
    justify-content: flex-start;
    position: absolute;
    left: 192px;
    top: 11px;
}
.one_city-new {
    background: #24cb71;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    height: 25px;
    position: relative;
    overflow: hidden;
}
.models_grid-group-small {
    flex-shrink: 0;
    width: 14.77px;
    height: 12px;
    position: relative;
    transform: translate(0px, 0px);
    overflow: visible;
}
.one_city-hot {
    background: #cb2524;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    height: 25px;
    position: relative;
    overflow: hidden;
}
.one_city-group-tall {
    flex-shrink: 0;
    width: 10.5px;
    height: 14px;
    position: relative;
    overflow: visible;
}
.one_city-frame {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.one_city-name {
    color: #ffffff;
    text-align: left;
    font-family: var(--h6-font-family, "IbmPlexSans-Bold", sans-serif);
    font-size: var(--h6-font-size, 20px);
    line-height: var(--h6-line-height, 150%);
    font-weight: var(--h6-font-weight, 700);
    position: relative;
}
.one_city-frame-row {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.models_grid-paging {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.models_grid-arrows {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.models_grid-main-menu-button {
    background: var(--light-gray-v1, #362e35);
    border-radius: 10px;
    padding: 12px 24px 12px 24px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    position: relative;
    transform: rotate(-180deg) scale(1, 1);
}
.one_city-main-menu-button2 {
    background: var(--light-gray-v1, #362e35);
    border-radius: 10px;
    padding: 12px 24px 12px 24px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    position: relative;
}
.models_grid-paging2 {
    display: flex;
    flex-direction: row;
    gap: 9px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;

}
.models_grid-showing {
    color: #cacaca;
    text-align: left;
    font-family: var(--b2-font-family, "IbmPlexSans-Regular", sans-serif);
    font-size: var(--b2-font-size, 18px);
    line-height: var(--b2-line-height, 150%);
    font-weight: var(--b2-font-weight, 400);
    position: relative;
}
.models_grid-small {
    border-radius: 10px;
    border-style: solid;
    border-color: var(--deep-black, #100f14);
    border-width: 2px;
    padding: 10px 15px 10px 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    position: relative;
    overflow: hidden;
}
.models_grid-page-number {
    color: #ffffff;
    text-align: left;
    font-family: "IbmPlexSans-SemiBold", sans-serif;
    font-size: 18px;
    line-height: 150%;
    font-weight: 600;
    position: relative;
}
.models_grid-of-total {
    color: #cacaca;
    text-align: left;
    font-family: var(--b2-font-family, "IbmPlexSans-Regular", sans-serif);
    font-size: var(--b2-font-size, 18px);
    line-height: var(--b2-line-height, 150%);
    font-weight: var(--b2-font-weight, 400);
    position: relative;
}
/* Models Grid */

.models_grid-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}
.models_grid-girl-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 235px;
    min-width: 235px;
    position: relative;
    overflow: hidden;
}
.models_grid-photo-box {
    background: linear-gradient(to left, #131217, #131217);
    border-radius: 10px;
    padding: 8px;
    align-self: stretch;
    flex-shrink: 0;
    height: 306px;
    position: relative;
    overflow: hidden;
}
.models_grid-vector {
    position: absolute;
    left: 0px;
    bottom: 0px;
    overflow: visible;
}
.models_grid-ico-country {
    width: 20px;
    height: 20px;
    position: absolute;
    left: -29.5px;
    top: 10.5px;
    overflow: hidden;
}
.models_grid-group {
    width: 96.56%;
    height: 96.56%;
    position: absolute;
    right: 1.72%;
    left: 1.72%;
    bottom: 1.72%;
    top: 1.72%;
    overflow: visible;
}
.models_grid-group2 {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0%;
    left: 0%;
    bottom: 0%;
    top: 0%;
    overflow: visible;
}
.models_grid-tags {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-end;
    justify-content: flex-start;
    position: absolute;
    left: 192px;
    top: 11px;
}
.models_grid-new {
    background: #24cb71;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    height: 25px;
    position: relative;
    overflow: hidden;
}
.models_grid-group-small {
    flex-shrink: 0;
    width: 14.77px;
    height: 12px;
    position: relative;
    transform: translate(0px, 0px);
    overflow: visible;
}
.models_grid-hot {
    background: #cb2524;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    height: 25px;
    position: relative;
    overflow: hidden;
}
.models_grid-group-tall {
    flex-shrink: 0;
    width: 10.5px;
    height: 14px;
    position: relative;
    overflow: visible;
}
.models_grid-frame {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.models_grid-name {
    color: #ffffff;
    text-align: left;
    font-family: var(--h6-font-family, "IbmPlexSans-Bold", sans-serif);
    font-size: var(--h6-font-size, 20px);
    line-height: var(--h6-line-height, 150%);
    font-weight: var(--h6-font-weight, 700);
    position: relative;
}
.models_grid-frame-row {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

/* Filter */
.model_filter-container,
.model_filter-container * {
    box-sizing: border-box;
}
.model_filter-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.model_filter-box {
    background: var(--light-gray-v1, #362e35);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.model_filter-item {
    background: var(--light-gray-v1, #362e35);
    border-radius: 10px;
    padding: 10px 26px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.model_filter-button {
    color: var(--white, #ffffff);
    text-align: left;
    font-family: "IbmPlexSans-SemiBold", sans-serif;
    font-size: 14px;
    line-height: 150%;
    font-weight: 600;
    position: relative;
}
.model_filter-icon {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
    transform: rotateZ(90deg);
}
.model_filter-clear {
    border-radius: 10px;
    border-style: solid;
    border-color: var(--light-gray-v1, #362e35);
    border-width: 2px;
    padding: 10px 26px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.model_filter-clear-text {
    color: var(--white, #ffffff);
    text-align: left;
    font-family: "IbmPlexSans-SemiBold", sans-serif;
    font-size: 14px;
    line-height: 150%;
    font-weight: 600;
    position: relative;
}
.model_filter-clear-icon {
    flex-shrink: 0;
    width: 11.31px;
    height: 11.31px;
    position: relative;
    overflow: visible;
}

.models-heading2{
    color: var(--white, #ffffff);
    text-align: left;
    font-family: var(--h4-font-family, "IbmPlexSans-Bold", sans-serif);
    font-size: var(--h4-font-size, 32px);
    line-height: var(--h4-line-height, 120%);
    font-weight: var(--h4-font-weight, 700);
    position: relative;
}

/* Media query for when the viewport width is less than 800px */
@media (max-width: 1390px) {
    .header__mobile-btn {
        display: block;
    }
    .menu-box{
        display: none;
    }
}